.result-img {
    width: auto;
    height: 100px;
    float: left;
    margin: 0 15px 0 0;
}
.drink-list-item {
    margin-bottom: 25px;
    margin-left: -60px;
    margin-right: 10px;
    list-style-type: none;
    text-align: left;
    overflow: auto;
    background: #8d96a3;
    cursor: pointer;
    display: block;
    width: 380px;
    height: 600px;
    color: black
}
.drink-list-item ul {
    background-color: #8d96a3;
}
.list-btn {
    background-color:#8d96a3;
}
.drink-list-item strong {
    background-color: #8d96a3;
    color: black;
}
.drink-list-item h2 {
    background-color: #8d96a3;
    color: black;
}
.drink-list-item em {
    background-color: #8d96a3;
    color: black;
}

.slider {
    background-color: #ccc;
}
.ingredient-list {
    background: #8d96a3;
    color: black;
}
.drink-atr {
    list-style-type: none;
    margin-right: 15px;
    margin-top: 15px;
    float: center;
    color: black;
    background-color: #8d96a3;

}
.ingredient-header{
    margin-top: 70px;
    margin-bottom: 5px;
    color: black;
    background-color: #8d96a3
}
.search-button {
    background-color:  #eee
}
.search-input {
    background-color:  #eee;
    margin: 20px;
    color: black;
}
select {
    background-color: #8d96a3
}
.drink-search button {
    width: 100px;
    height: 34px;
    font-size: 20px;
    background-color: #8d96a3;
}
.drink-search input {
    width: 200px;
    height: 30px;
    font-size: 20px;
}
