.drink-form{
    margin: 15px;
    background-color: #8d96a3;
    color: black;
}
.drink-form legend {
    color: black;
    background-color: #8d96a3;
    font-size: 18px;
    font-weight: bold;
}

.drink-form label {
    margin-bottom: 35px;
    background-color: #8d96a3;
    color: black;
}

.drink-atr {
    margin-bottom: 25px;
}
.form-input {
    background-color: #8d96a3;
}
.ingredient-input {
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    background-color: #8d96a3;
}
.drink-form input {
    display: block;
    width: 200px;
    height: 18px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    background-color: white;
}
.glass {
    display: block;
    width: 200px;
    height: 15px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}
.submit-btn {
    background-color: #03224f;
    width: 150px;
    height: 30px;
    font-size: 18px;
    color: white;
}
.photo-input {
    width: 200px;
}