.drink-form{
    margin-top: 15px;
    margin-left: auto;
    margin-left: auto;
    background-color: #8d96a3;
    color: black;
    border-radius: 5px;
    border: solid black 1px;
}
.drink-form fieldset {
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 500px) {
    .drink-form {width: 400px;
        margin-left: auto;
        margin-right: auto
    }
}
.drink-form legend {
    color: black;
    background-color: #8d96a3;
    font-size: 18px;
    font-weight: bold;
    height: 20px;
    width: 280px;
    padding: 7px;
    border-radius: 5px;
    border: solid black 1px;
}

.drink-form label {
    margin-bottom: 35px;
    background-color: #8d96a3;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.drink-atr {
    margin-bottom: 25px;
}
.form-input {
    color: black;
}
.ingredient-input {
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    background-color: #8d96a3;
}
.drink-form input {
    display: block;
    font-size: 18px;
    width: 200px;
    height: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    background-color: white;
    color: black;
}
.glass {
    display: block;
    width: 200px;
    height: 15px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}
.submit-btn {
    background-color: #03224f;
    width: 150px;
    height: 30px;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    border: solid black 1px;
}
.photo-input {
    width: 200px;
}