.login-page {
    padding: 10px;
    background-size: cover;
    border-color: #f4be52;
    border-style: inset;
    border-width: 90px;
    display: block;
    height: auto;
    background-color: #ffe;
    margin: 10vh auto;
}
@media only screen and (max-width: 500px) {
    .login-page {
        border-width: 48px;
        padding: 0;
        margin-top: 10px;
    }
    .login-page fieldset {
        margin: 0;
        width: 90%;
    }
    .login-page label {
        font-size: 14px;
    }
    .login-page input {
        font-size: 14px;
        border: black solid 1px;
    }
}
.log-reg-link {
    margin: 20px;
    display: block;
}
fieldset {
    width: 300px;
    display: inline;
    text-align: center;
    margin: 15px;
    border-radius: 5px;
    border: solid black 1px;
}
input {
    background-color: white;
    margin-bottom: 10px;
    margin-top: 5px;
    color: black;
    height: 20px;
    font-size: 18px;
}
label {
    color: black;
    font-size: 18px;
    font-weight: bold
}
legend {
    color: black;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    height: 20px;
    width: 100px;
    padding: 7px;
    border-radius: 5px;
    border: solid black 1px;
    
}
button {
    width: 80px;
    background-color: #4C3503;
    color: white;
    font-weight: bold;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    border: solid black 1px;
}
.form-error {
    color: #9e0909;
}