.add-search {
    display: inline-block;
    padding: 20px;
}
.add-search input {
    border: black solid 1px;
}
.dropdown {
    display: inline-block;
    margin: 10px;
    color: white;
    color: black
}

.dropdown select {
    width: 200px;
    height: 30px;
    font-size: 14px;
    border: black solid 1px;
}
.add-button {
    display: inline-block;
    margin: 10px;
    width: 200px;
}
.search-bar {
    display: inline-block;
    margin: 10px;
}
.search-bar input {
    height: 30px;
}
button {
    text-align: center;
    background-color: #4C3503;
    color: white;
    font-weight: bold;
}
.bar-scene {
    padding: 10px;
    background-size: cover;
    border-color: #f4be52;
    border-style: inset;
    border-width: 90px;
    display: block;
    height: auto;
    background-color: #ffe;
    margin: 10vh auto 0 auto;
}
@media only screen and (max-width: 500px) {
    .bar-scene {
        border-width: 48px;
        padding: 0;
        margin-top: 10px;
    }
    .bar-scene fieldset {
        margin: 0;
        width: 90%;
    }

}