.add-search {
    display: inline-block;
    /* background-color: rgb(60, 61, 61); */
    padding: 20px;
}
.dropdown {
    display: inline-block;
    margin: 10px;
    color: white;
    color: black;
}
.dropdown select {
    width: 200px;
    height: 30px;
    font-size: 14px;
}
.add-button {
    display: inline-block;
    margin: 10px;
    width: 200px;
}
.search-bar {
    display: inline-block;
    margin: 10px;
}
.search-bar input {
    height: 30px;
}
button {
    text-align: center;
}
.bar-scene {
    padding: 10px;
    background-size: cover;
    /* background-image: url('https://images.unsplash.com/photo-1509807995916-c332365e2d9e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4c8d364e633e2015fbac047f327ce098&auto=format&fit=crop&w=971&q=80'); */
    border-image: url('../images/gold-frame.png') 93 92 87 92 stretch stretch; 
    border-color: #f4be52;
    border-style: inset;
    border-width: 90px;
    display: block;
    height: auto;
    background-color: #ffe;
    margin: 10vh auto 0 auto;
}
