.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between
}
.nav li {
    font-size: 20px;
}
.nav button {
    font-size: 18px;
    padding: px;
}
@media only screen and (max-width: 500px) {
    .nav li {
        font-size: 16px;
    }
    .nav button {
        font-size: 14px;
    }
}